
.landing{
    .displayFlex(center,center);
    background-color:@tan;
    height:100vh;
    width:100%;
    .textContainer{
        .displayFlex(center,center);
        flex-direction: column;
        // background-color:grey;
        width:70vw;
        @media @mobile{
            width: 90vw;
        }
        h2{
            font-size:7rem;
            text-align:center;
            @media @mobile{
                font-size: 3.5rem;
            }
            padding: 1%;
        }
        h3{
            font-size:5rem;
            text-align:center;
            color:@onyx;
            padding:1%;
            
            @media @tablet{
                font-size: 4rem;
            }
            @media @mobile{
                font-size: 2rem;
                padding:7%;
            }
        }
        a{
            .button();
            margin:1%;
            padding:1% 1% 0% 1%;
            text-align:center;
            line-height: 5rem;
            .keyframes(fade-in;{
                0% { opacity: 0; }
                100% { opacity: 1; }
                });
            
              .flash(fade-in 0.75s  infinite alternate)

        }
        @keyframes slowfade {
            from {background-color: @orange}
            to {background-color: @onyx}
            from {color: @onyx}
            to {color: @orange;}
        }// background-color:grey;
     
    }

}
.web{
    // background-color:pink;
}
 #dS{
        // background-color:grey;
}
.web, #dS{
   

    padding-top:5rem;
    .displayFlex(space-evenly,center);
    flex-direction:column;
    @media @mobile{
        padding:5rem 0rem;


    }
    h2{
        font-size:7rem;
        text-align: center;
        padding: 1%;
        margin:10vh;
        border-bottom:.5rem solid @onyx;
        border-top:.5rem solid @onyx;
        @media @tablet{
            font-size:6rem;
        }
        @media @mobile{
            font-size:4.4rem;
            padding:1%;
            margin:7vh 3vh;
            line-height:6rem;
        }
        // background-color:lightblue;
    }
    .leftTile{
        // background-color:grey;
        .displayFlex(flex-start,center);
        flex-direction:row;
        padding:4vw;
        width: 100vw;
        @media @mobile{
            margin:20rem 0rem;
            flex-direction: column;
            justify-content:space-between;
            // background-color:lightblue;
            .textContainer{
                // background-color:green;
                padding:1rem;
            }
        }   

    
        @media @tablet{
            height:50vh;
        }
        h3{
            font-size:5rem;
            color:@onyx;
            padding:2rem 4rem;
            line-height:8rem;
            
        
            @media @tablet{
                font-size: 2.5rem;
                line-height: 5rem;
                padding:1rem 4rem;
                // background-color:green;
            }
            @media @mobile{
                font-size: 2.5rem;
                padding:5%;
                text-align:center;
            }
        }
    }
    .rightTile{
        // background-color:darkgrey;
        .displayFlex(flex-start,center);
        flex-direction:row-reverse;
        padding:4vw;
        width: 100%;
        text-align:right;
        @media @mobile{
            flex-direction: column;
            justify-content:space-between;

            // background-color:red;
            margin:20rem 0rem;



        }
        @media @tablet{
            height:50vh;
        }

        h3{
            font-size:5rem;
            color:@onyx;
            padding:2rem 4rem;
            line-height:8rem;
            
            @media @mobile{
                font-size: 3rem;
                padding:7%;
                text-align:center;
            }
            @media @tablet{
                font-size: 2.5rem;
                line-height: 5rem;
                padding:1rem 4rem;
                // background-color:green;
            }
        }
    }
    .rightTile:last-child{
        margin-bottom:30rem;
    }
    p{
        color:@onyx;
        padding:2rem 4rem;
        font-size: 2rem;
        line-height: 4rem;
        @media @tablet{
            font-size:1.5rem;
            padding:1rem 3rem;
            line-height: 3rem;

        }
        @media @mobile{
                text-align:center;
                line-height:2.4rem;
                padding: 1rem 1rem;
                // background-color:green;
        }

    }
}

