html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Roboto Mono', monospace;
  color: #ff5e00;
  background-color: #f5f5ec;
}
h1,
h2,
h3 {
  font-family: 'Orbitron', sans-serif;
}
header {
  display: none;
  background-color: #ff5e00;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  width: 100%;
  height: 11rem;
  display: flex;
  justify-content: space-between;
  align-items: none;
}
@media (max-width: 500px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: none;
  }
}
header .imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
}
@media (max-width: 800px) {
  header nav {
    width: 94vw;
  }
}
@media (max-width: 500px) {
  header nav {
    width: 100vw;
  }
}
header nav a {
  width: 24%;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: #31393C;
  padding: 1% 4% 1% 5%;
  border-right: solid #31393C 0.4rem;
  padding-right: 5.1%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 800px) {
  header nav a {
    border-right: solid #31393C 0.2rem;
  }
}
@media (max-width: 500px) {
  header nav a {
    border-right: solid #31393C 0.15rem;
  }
}
@media (max-width: 800px) {
  header nav a {
    font-size: 1.7rem;
    padding: 2% 4%;
  }
}
@media (max-width: 500px) {
  header nav a {
    font-size: 1.3rem;
    padding: 1% 3% 1% 3%;
  }
}
header nav a:hover {
  color: #f5f5ec;
}
header nav a:last-child {
  border-right: none;
}
.logoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 1vh;
  background-color: #f5f5ec;
  margin-top: 12vh;
}
@media (max-width: 800px) {
  .logoContainer {
    margin-top: 12vh;
    padding-top: 1%;
  }
}
.logoContainer h1 {
  font-size: 2rem;
  padding-top: 1%;
}
footer {
  height: 35%;
  background-color: #31393C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #f5f5ec;
}
footer .topFooter {
  padding: 5vh;
  width: 90vw;
  border-bottom: solid black 0.1rem;
  text-align: center;
}
footer .topFooter h4 {
  font-size: 3rem;
  padding: 1vh;
}
footer .topFooter p {
  font-size: 1.7rem;
  padding: 1vh;
  padding-bottom: 4rem;
}
@media (max-width: 500px) {
  footer .topFooter p {
    font-size: 1rem;
    line-height: 2.5rem;
  }
}
footer .topFooter a {
  background-color: #f5f5ec;
  cursor: pointer;
  font-size: 2rem;
  color: #31393C;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 1%;
}
@media (max-width: 500px) {
  footer .topFooter a {
    padding: 2%;
    font-size: 1.5rem;
  }
}
footer .topFooter a:hover {
  background-color: #ff5e00;
  color: #f5f5ec;
}
footer .bottomFooter {
  padding: 2vh;
  text-align: center;
}
footer .bottomFooter h3 {
  padding: 1vh;
  font-size: 1.5rem;
}
footer .bottomFooter p {
  padding: 1vh;
  font-size: 1.3rem;
}
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5ec;
  height: 100vh;
  width: 100%;
}
.landing .textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35vh;
}
.landing .textContainer h3 {
  font-size: 5rem;
  text-align: center;
  color: #31393C;
  padding: 1%;
}
@media (max-width: 500px) {
  .landing .textContainer h3 {
    font-size: 3rem;
    padding: 7%;
  }
}
@media (max-width: 800px) {
  .landing .textContainer h3 {
    font-size: 4rem;
  }
}
.landing .textContainer a {
  background-color: #ff5e00;
  cursor: pointer;
  font-size: 3rem;
  border-radius: none;
  color: #31393C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  text-decoration: none;
  font-weight: bold;
  margin: 1%;
}
.landing .textContainer a:hover {
  background-color: #31393C;
  color: #ff5e00;
}
@media (max-width: 500px) {
  .landing .textContainer a {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .landing .textContainer a {
    font-size: 2rem;
  }
}
